//@charset 'utf-8';

@import 'settings';
@import 'foundation';
//@import 'motion-ui';
//@import 'custom';

//@include foundation-global-styles;
//@include foundation-grid;
 @include foundation-flex-grid;
//@include foundation-typography;
//@include foundation-button;
//@include foundation-forms;
// @include foundation-range-input;
//@include foundation-accordion;
////@include foundation-accordion-menu;
//@include foundation-badge;
//@include foundation-breadcrumbs;
//@include foundation-button-group;
//@include foundation-callout;
//@include foundation-close-button;
//@include foundation-menu;
//@include foundation-menu-icon;
//@include foundation-drilldown-menu;
//@include foundation-dropdown;
//@include foundation-dropdown-menu;
//@include foundation-flex-video;
//@include foundation-label;
//@include foundation-media-object;
//@include foundation-off-canvas;
//@include foundation-orbit;
//@include foundation-pagination;
//@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
//@include foundation-slider;
//@include foundation-sticky;
//@include foundation-reveal;
//@include foundation-switch;
//@include foundation-table;
//@include foundation-tabs;
//@include foundation-thumbnail;
//@include foundation-title-bar;
//@include foundation-tooltip;
//@include foundation-top-bar;
//@include foundation-visibility-classes;
//@include foundation-float-classes;
@include foundation-flex-classes;

//@include motion-ui-transitions;
//@include motion-ui-animations;


$section-header-bg: dodgerblue;
$section-header-copy: white;
$footer-color: lightgray;
$brand-primary: coral;

header {
	margin-bottom: 2em;
}

label, legend {
	font-size: .875em;
	margin: 0;
}

.top-bar {
	background: $brand-primary;
}

input[type='text'], input[type='password'], input[type='date'], input[type='datetime'], input[type='datetime-local'], input[type='month'], input[type='week'], input[type='email'], input[type='number'], input[type='search'], input[type='tel'], input[type='time'], input[type='url'], input[type='color'], textarea, .dropdown {
	margin-bottom: 0;
}


.container {
	max-width: 960px;
}

.form-container {
	border: 2px solid $section-header-bg;
}

.text-header {
	background: $section-header-bg;
	color: $section-header-copy;
}

.styled-radio input[type=radio] {
		border: 2px solid dodgerblue;
		background: white;
	&:checked:before {
		background: dodgerblue;
	}
}


.styled-checkbox {

		&:before {
			border: 2px solid dodgerblue;
			background: white;

		}
		&:checked:before {
			color: $section-header-copy;
		}
	}


.footer {
	background: $footer-color;
}
